<div class="card-nutricion">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="7">
        <p class="label-principal">Calorías Diarias</p>
        <h1 class="valor-principal">{{ caloriasConsumidas }} / {{ objetivoCalorico }} <small>kcal</small></h1>
      </ion-col>
      <ion-col size="5" class="ion-text-right">
        <div class="indicador-restante">
          <p>Restan</p>
          <span class="numero-verde">{{ objetivoCalorico - caloriasConsumidas }}</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="macros-row">
      <ion-col size="4">
        <p class="macro-label">Proteínas: {{ proteinas | number:'1.0-2' }}g</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <p class="macro-label">Grasas: {{ grasas | number:'1.0-2' }}g</p>
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        <p class="macro-label">Carbohidratos: {{ carbohidratos | number:'1.0-2' }}g</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>