<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Entrenamiento</ion-title>
    <ion-buttons slot="end">
      <app-boton-oscuro></app-boton-oscuro>
    </ion-buttons>
  </ion-toolbar>

  <app-buscador-ejercicio 
    [grupoActivo]="grupoSeleccionado"
    (onFiltroCambio)="aplicarFiltrosGlobales($event)">
  </app-buscador-ejercicio>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let ejercicio of ejerciciosFiltrados">
        <app-tarjeta-ejercicio 
          [ejercicio]="ejercicio" 
          (configurarSeries)="abrirModalEntreno($event)">
        </app-tarjeta-ejercicio>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr class="divisor">
  <app-lista-entrenos-hoy #listaHoy></app-lista-entrenos-hoy>
</ion-content>

<ion-modal #modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>{{ ejercicioSeleccionado?.nombre }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">CERRAR</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div class="header-modal">
        <h3>Registro de hoy</h3>
        <p>Anota el peso y las repeticiones logradas.</p>
      </div>

      <ion-list lines="none">
        <ion-item *ngFor="let serie of seriesTemporales; let i = index">
          <ion-label slot="start">{{ i + 1 }}</ion-label>
          
          <ion-input type="number" placeholder="Peso (kg)" [(ngModel)]="serie.peso"></ion-input>
          <ion-input type="number" placeholder="Repes" [(ngModel)]="serie.repeticiones"></ion-input>
          
          <ion-button slot="end" fill="clear" color="danger" (click)="quitarSerie(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>

      <div class="descanso-seccion">
        <p class="ion-text-center">Tiempo de Descanso</p>
        <app-cronometro></app-cronometro>
      </div>

      <ion-button expand="block" fill="outline" (click)="agregarSerie()" class="ion-margin-top">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        AÑADIR SERIE
      </ion-button>
      <ion-button expand="block" color="success" (click)="guardarEntreno()" class="ion-margin-top">
        FINALIZAR EJERCICIO
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>