<ion-list lines="full">

  <ion-list-header>
    <ion-label class="titulo-seccion">Registros actuales</ion-label>
  </ion-list-header>

  <div *ngFor="let m of ['Desayuno', 'Comida', 'Merienda', 'Cena']">

    <ion-item *ngFor="let item of comidas">
      <ion-thumbnail slot="start">
        <img [src]="item.imagen" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ item.nombre }}</h2>
        <p class="info-macros">
          {{ item.kcal }} kcal | Proteinas: {{ item.protes }}g | Carbohidratos: {{ item.carbos }}g
        </p>
      </ion-label>

      <ion-button slot="end" fill="clear" color="danger" (click)="onEliminar.emit(item.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    
  </div>

  <ion-item *ngIf="comidas.length === 0" lines="none">
    <ion-label class="ion-text-center mensaje-vacio">
      No hay alimentos en este momento
    </ion-label>
  </ion-item>

</ion-list>