.contenedor-alimento {
  position: relative;
  width: 100%;
  padding-top: 100%; // Cuadrado perfecto
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 5px;

  .imagen-alimento {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }

  .overlay-datos {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .info {
      display: flex;
      flex-direction: column;
      color: white;
      
      .nombre {
        font-size: 0.65rem; // Un pelín más pequeño
        font-weight: bold;
        line-height: 1;
        display: -webkit-box;
        -webkit-line-clamp: 2; // Permite hasta 2 líneas antes de cortar
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 2px;
      }
      
      .calorias {
        font-size: 0.6rem;
        opacity: 0.8;
      }
    }

    .boton-add {
      --padding-start: 0;
      --padding-end: 0;
      margin: 0;
      height: 24px;
      ion-icon { font-size: 20px; }
    }
  }
  
}