<ion-content [fullscreen]="true">
  <div class="dark-mode-header">
    <app-boton-oscuro></app-boton-oscuro>
  </div>

  <swiper-container [pagination]="true">
    
    <swiper-slide>
      <div class="slide-content">
        <div class="icon-circle success">
          <ion-icon name="sparkles-outline"></ion-icon>
        </div>
        <h1>Bienvenida a <span>PerfectBody</span></h1>
        <p>Tu nueva app de alto rendimiento. Diseñada para optimizar tu nutrición, planificar tus entrenamientos y realizar un seguimiento inteligente de tu evolución.</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <div class="icon-circle nutrition">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <h2>Nutrición Inteligente</h2>
        <p>Registra tus macros diarios y calorías. El sistema calculará automáticamente tu <b>Cierre Semanal</b> cada lunes para evaluar tu balance calórico.</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <div class="icon-circle science">
          <ion-icon name="compass-outline"></ion-icon>
        </div>
        <h2>Explorar Recetas</h2>
        <p>Descubre platos fitness e inyecta sus macros directamente a tu diario con un solo toque.</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <div class="icon-circle gym">
          <ion-icon name="barbell-outline"></ion-icon>
        </div>
        <h2>Entrenamiento Eficiente</h2>
        <p>Filtra tus ejercicios por grupo muscular, anota tus series de trabajo y optimiza tus recuperaciones con nuestro <b>Temporizador de Descanso de 60s</b>con avisos sonoros.</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <div class="icon-circle final">
          <ion-icon name="medal-outline"></ion-icon>
        </div>
        <h2>Sistema de Logros</h2>
        <p>Gana insignias por tu constancia y desbloquea medallas al cumplir tus objetivos diarios.</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <div class="icon-circle science">
          <ion-icon name="analytics-outline"></ion-icon>
        </div>
        <h2>Gasto Energético Real</h2>
        <p>Olvídate de estimaciones genéricas. Usamos la fórmula científica de <b>Harris-Benedict</b> para calcular tu Metabolismo Basal exacto según tu peso, altura y edad.</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-content">
        <div class="icon-circle final">
          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        </div>
        <h2>¿Listo para el cambio?</h2>
        <p>Tu mejor versión está a solo un registro de distancia. Configura tu perfil inicial para activar el motor de la aplicación.</p>
        <ion-button expand="block" color="success" (click)="irAPerfil()" class="btn-final">
          EMPEZAR AHORA
        </ion-button>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>