.dark-mode-header {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

swiper-container {
  width: 100%;
  height: 100%;
  --swiper-pagination-color: var(--ion-color-success);
}

.slide-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  .icon-circle {
    width: 120px;
    height: 120px;
    border-radius: 35%; /* Un toque más cuadrado/moderno */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 60px;
    
    // COLORES NO ESTÁNDAR
    &.success { background: rgba(168, 85, 247, 0.15); color: #a855f7; } // Violeta Eléctrico
    &.nutrition { background: rgba(249, 115, 22, 0.15); color: #f97316; } // Naranja Fuego
    &.gym { background: rgba(236, 72, 153, 0.15); color: #ec4899; } // Rosa Intenso
    &.science { background: rgba(20, 184, 166, 0.15); color: #14b8a6; } // Verde Teal / Turquesa
    &.final { background: rgba(99, 102, 241, 0.15); color: #6366f1; } // Azul Índigo
  }

  h1, h2 {
    span { color: #a855f7; } // El color de énfasis ahora es el Violeta
  }

  .btn-final {
    --background: #a855f7; // Botón violeta pro
    --color: white;
  }

  p {
    font-size: 1.1rem;
    color: var(--ion-color-medium);
    margin: 20px 0;
    max-width: 300px;
  }

}

  