<ion-header>
  <ion-toolbar color="success">
    <ion-title>Nutrición</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-resumen-nutricional [consumidas]="0" [objetivo]="2000"></app-resumen-nutricional>

  <ion-list-header>
    <ion-label>Selecciona tus alimentos</ion-label>
  </ion-list-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="2" *ngFor="let alimento of alimentos">
        <app-tarjeta-alimentos 
          [nombre]="alimento.nombre"
          [kcal]="alimento.kcal"
          [imagen]="alimento.imagen"
          (onAdd)="agregarComida(alimento)">
        </app-tarjeta-alimentos>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>